<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Error! </title>
</head>

<body>
<div align="center">
<ul style="list-style:none;"><li style="display:inline-block; vertical-align:middle; padding:13px;"><h1 style="font-size:60px; color:#DF2474">404</h1><span style="font-weight:bold">That is an error! <br />
Typically, nothing alive here.</span></li>
<li style="display:inline-block"><div align="center" style="padding-top:70px;"><img src="img/dead.fw.png" alt="oh no, its crashed"/></div></li></ul>
</div>
<div style="max-width:50%; padding:24px" align="right"><h5><q> <i>The Columbia is lost. There are no survivors.</i>
 </q></h5></div>
</body>
</html>
